@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');
body {
    background-color: rgb(20, 20, 20);
}

.main-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    text-transform: uppercase;
    z-index: 1;
}

.members-grid{
    background-color: rgb(20, 20, 20);
    position: relative;
    width: 80%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}
#my-content {
    transition: 2s;
    margin-top: 0;
}
.member , .content{
    position: relative;
    display: flex;
    align-items: top;
}
.member .info {
    padding: 1rem;
}
.member .info span{
    color: #ff0080;
    backface-visibility: hidden;
    transform: translateZ(0);
}
.member .info p{
    font-size: 1.3rem;
    backface-visibility: hidden;
    transform: translateZ(0);
}
.member img {
    height: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.member .image-layered {
    height: 180px;
    aspect-ratio: 1/1;
    position: relative;
}
.member .image-layered img {
    position: absolute;
    transition: 1.5s;
}
.member .quote-layered img {
    position: absolute;
    transition: 1.5s;
}
.member .info p span.special {
    color: white;
    font-weight: normal;
    transition: 1.5s;
}
.member:hover .specials {
    font-size: 0;
    transition: 4.5s ease-in-out;
}
.member:hover .specials .special {
    color: #ff0080;
    font-size: 3.5rem;
    font-weight: bold;
    opacity: 1;
}
#member3:hover .info h2 {
    font-size: 3rem;
    transition: 3s;
    line-height: 0.3;
    margin-top: 1rem;
}
#member4:hover .info p, #member4:hover .info span ,#member4:hover .info h2 {
    animation: rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.member:hover .image-layered img:nth-child(2) {
    opacity: 0;
}
.member .quote-layered {
    position: relative;
}
.member .quote-layered p {
    position: absolute;
    transition: 1s;
}
.member .quote-layered p:nth-child(2), .member:hover .quote-layered p:nth-child(1) {
    opacity: 0;
}
.member .quote-layered p:nth-child(1), .member:hover .quote-layered p:nth-child(2) {
    opacity: 1;
}
.dust {
    top: 0;
    position: absolute;
}
#hacked-screen, #ling-screen {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    animation: opacityIn 4s;
    animation-fill-mode: forwards;
}
#hacked-screen video, #ling-screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: none;
}
#magic-circle {
    display: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    animation: magicInOut 4s;
    animation-timing-function: linear;
}
#magic-circle-img {
    width: 0;
    animation: circleSpin 1.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} 
@keyframes magicInOut {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    20% {
        transform: scale(1.4);
        filter: brightness(1.4);
    }
    30% {
        transform: scale(1);
        filter: brightness(1);
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes circleSpin {
    0% {
        transform:rotate(0deg);
    }
    25% {
        transform:rotate(360deg);
    }
    50% {
        transform:rotate(720deg);
    }
    75% {
        transform:rotate(1080deg);
    }
    100% {
        transform:rotate(1080deg);
    }

}
@keyframes opacityIn {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 1;}
}
@keyframes rainbow {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
#member2:hover span {
    color: green;
    font-family: 'M PLUS Code Latin', sans-serif;
    transition: 1s;
}
#member2:hover h2{
    color: green;
    font-family: 'M PLUS Code Latin', sans-serif;
    transition: 1s;
}
#member2:hover p {
    color: green;
    font-family: 'M PLUS Code Latin', sans-serif;
    transition: 1s;
}
#thanos {
    width: 50px;
    height: auto;
    transition: 1s ease-out;
}


#member1 {
    animation: Idle1 infinite 4s;
    animation-timing-function: linear;
}

#member2 {
    animation: Idle2 infinite 4s;
    animation-timing-function: linear;
}

#member3 {
    animation: Idle3 infinite 4s;
    animation-timing-function: linear;
}

#member4 {
    transition: 0.5s;
    animation: Idle4 infinite 4s;
    animation-timing-function: linear;
}
#member5 {
    animation: Idle5 infinite 4s;
    animation-timing-function: linear;
}

main {
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    scroll-snap-align: center;
    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
    overflow-x: visible;
    padding-bottom: 2rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 5rem;
    font-family: 'Bebas Neue';
    color: white;
    margin-top: 1rem;
}
h2 {
    font-size: 2rem;
    font-family: 'Magdelin';
    color: hwb(330 0% 0%);
}

p {
    color: white;
    font-family: "Raleway";
    text-transform: none;
    font-size: 1.5rem;
    backface-visibility: hidden;
    transform: translateZ(0);
}

p span {
    color: hwb(330 0% 0%);
    font-weight: bold;
    font-family: 'Magdelin', sans-serif;
    cursor: url('../Images/white_cursor.png'), default;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ff0080;
    font-weight: bold;
    font-family: 'Magdelin', sans-serif;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff0080;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.socials {
    display: flex;
    align-items: center;
}

.socials img {
    width: 35px;
    height: auto;
    margin-right: 1rem;
    filter: invert(97%) sepia(98%) saturate(3%) hue-rotate(75deg) brightness(105%) contrast(100%);
    cursor: pointer;
}

.socials img:hover {
    filter: invert(16%) sepia(83%) saturate(5790%) hue-rotate(324deg) brightness(104%) contrast(110%);
}

iframe {
    margin-bottom: 0.8rem;
}

@keyframes Idle1 {
    0% {
        transform: translate(0.1rem, -0.1rem);
    }

    25% {
        transform: translate(0.1rem, 0.1rem);
    }

    50% {
        transform: translate(0.1rem, -0.1rem);
    }

    75% {
        transform: translate(-0.1rem, 0.1rem);
    }

    100% {
        transform: translate(0.1rem, -0.1rem);
    }
}

@keyframes Idle2 {
    0% {
        transform: translate(0.1rem, 0.1rem);
    }

    25% {
        transform: translate(0.1rem, -0.1rem);
    }

    50% {
        transform: translate(0.1rem, -0.1rem);
    }

    75% {
        transform: translate(-0.1rem, -0.1rem);
    }

    100% {
        transform: translate(0.1rem, 0.1rem);
    }
}

@keyframes Idle3 {
    0% {
        transform: translate(-0.1rem, -0.1rem);
    }

    25% {
        transform: translate(-0.1rem, 0.1rem);
    }

    50% {
        transform: translate(0.1rem, -0.1rem);
    }

    75% {
        transform: translate(0.1rem, 0.1rem);
    }

    100% {
        transform: translate(-0.1rem, -0.1rem);
    }
}

@keyframes Idle4 {
    0% {
        transform: translate(-0.1rem, 0.1rem);
    }

    25% {
        transform: translate(0.1rem, 0.1rem);
    }

    50% {
        transform: translate(0.1rem, -0.1rem);
    }

    75% {
        transform: translate(-0.1rem, -0.1rem);
    }

    100% {
        transform: translate(-0.1rem, 0.1rem);
    }
}

@keyframes Idle5 {
    0% {
        transform: translate(0.1rem, 0.1rem);
    }

    25% {
        transform: translate(0.1rem, -0.1rem);
    }

    50% {
        transform: translate(-0.1rem, 0.1rem);
    }

    75% {
        transform: translate(0.1rem, -0.1rem);
    }

    100% {
        transform: translate(0.1rem, 0.1rem);
    }
}

@media only screen and (max-width: 599.98px) {}

@media (min-width: 600px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 1299.98px) {
    h1 {
        font-size: 3.3rem;
    }

    p {
        font-size: 1.2rem;
    }

    .member img {
        width: 400px;
    }

    .socials img {
        width: 25px;
    }
}

@media (min-width: 1300px) and (max-width: 1599.98px) {
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.4rem;
    }

    .member img {
        width: 450px;
    }

    .socials img {
        width: 30px;
    }
}

@media only screen and (min-width: 1200px) {}