* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    list-style: none;
    text-decoration: none;
    color: black;
}
html {
    background: rgb(26, 26, 26);
    scroll-behavior: smooth;
}
.board {
    position: absolute;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    animation-name: slideUp;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
}
.logo {
    width: 100px;
    height: auto;
    filter: invert(26%) sepia(87%) saturate(5809%) hue-rotate(316deg) brightness(101%) contrast(101%);
    z-index: 0;
}
.blocker {
    position: absolute;
    background-color: rgb(20, 20, 20);
    min-width: 100px;
    min-height: 100px;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 1;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.mb, .pb, .tb, .sd, .dt {
    display: none;
}
@keyframes slideUp {
    100% { 
        transform: translate(0, -100%);
        display: none;
    }
}
@keyframes goUp {
    100% { 
        transform: translate(0, -100%);
        display: none;
    }
}

/* Mobiles */
@media only screen and (max-width: 599.98px) {
    .container {
        width: 100%;
    }
    .mb {
        display: block;
    }
}

/* Phablets */
@media (min-width: 600px) and (max-width: 767.98px) {
    .container {
        width: 100%;
    }
    .pb {
        display: block;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 650px;
    }
    .tb {
        display: block;
    }
}

/* Small Desktops */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 992px;
    }
    .sd {
        display: block;
    }
}

/* Desktops */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .dt {
        display: block;
    }
}

/* Fonts */
@font-face {
    font-family: 'Magdelin';
    src: url('../fonts/magdelin_fonts/Magdelin-Regular.otf');
}

/* For Easy Copying */
/* @media only screen and (max-width: 599.98px) {
        
}

@media (min-width: 600px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media only screen and (min-width: 1200px) {

}  */