
@keyframes scrollingLoopv1 {
    0% { transform: translateY(0);}
    100% { transform: translateY(-55rem);}
}
@keyframes scrollingLoopv2 {
    0% { transform: translateY(0);}
    100% { transform: translateY(-37rem);}
}

@keyframes categoryChangev1 {
    0% { 
        content:  'FIGURES'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    5% { 
        content: 'COSPLAYS'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    10% { 
        content: 'APPARELS'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    15% { 
        content: 'ACCESSORIES'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    20% { 
        content:  'រូបចម្លាក់';
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    25% { 
        content: 'ខោអាវតុបតែង'; 
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    30% { 
        content: 'សំលៀកបំពាក់'; 
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    35% { 
        content: 'គ្រឿងបន្លាស់'; 
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    40% { 
        content: 'フィギュア'; 
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    45% { 
        content: 'コスプレ'; 
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    50% { 
        content: '衣服'; 
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    55% { 
        content: '付属品'; 
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    60% { 
        content:  '인물';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    65% { 
        content: '코스프레'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    70% { 
        content: '의복'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    75% { 
        content: '부속품'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    80% { 
        content:  '人物';
        font-size: 9rem;
    }
    85% { 
        content: '服装';
        font-size: 9rem;
    }
    90% { 
        content: '服饰';
        font-size: 9rem;
    }
    95% { 
        content: '配件';
        font-size: 9rem;
    }
    100% { 
        content:  'FIGURES';
        font-family: 'Passion One';
    }
}
@keyframes toprowChangev1 {
    0% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    5% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    10% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    15% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    20% { 
        content:  'ឆាប់ទិញ'; 
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    25% { 
        content:  'ឆាប់ទិញ'; 
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    30% { 
        content:  'ឆាប់ទិញ'; 
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    35% { 
        content:  'ឆាប់ទិញ'; 
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    40% { 
        content: 'あなたの';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    45% { 
        content: 'あなたの';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    50% { 
        content: 'あなたの';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    55% { 
        content: 'あなたの';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    60% { 
        content:  '당신의';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    65% { 
        content:  '당신의';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    70% { 
        content:  '당신의';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    75% { 
        content:  '당신의';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    80% { 
        content:  '立即选择';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 9rem;
    }
    85% { 
        content:  '立即选择';
        font-family: 'ZCOOL KuaiLe', cursive;  
        font-size: 9rem;
    }
    90% { 
        content:  '立即选择';
        font-family: 'ZCOOL KuaiLe', cursive;  
        font-size: 9rem;
    }
    95% { 
        content:  '立即选择';
        font-family: 'ZCOOL KuaiLe', cursive;  
        font-size: 9rem;
    }
    100% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
    }
}
@keyframes botrowChangev1 {
    0% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    5% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    10% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    15% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
        font-size: 10rem;
    }
    20% { 
        content:  'មក!';
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    25% { 
        content:  'មក!';
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    30% { 
        content:  'មក!';
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    35% { 
        content:  'មក!';
        font-family: 'Koulen', cursive;
        font-size: 8rem;
    }
    40% { 
        content: '今!';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    45% { 
        content: '今!';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    50% { 
        content: '今!';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    55% { 
        content: '今!';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 9rem;
    }
    60% { 
        content:  '오늘!'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    65% { 
        content:  '오늘!'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    70% { 
        content:  '오늘!'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    75% { 
        content:  '오늘!'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 10rem;
    }
    80% { 
        content:  '的特点';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 9rem;
    }
    85% { 
        content:  '的特点';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 9rem;
    }
    90% { 
        content:  '的特点';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 9rem;
    }
    95% { 
        content:  '的特点';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 9rem;
    }
    100% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
    }
}

@keyframes categoryChangev2 {
    0% { 
        content:  'FIGURES'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    5% { 
        content: 'COSPLAYS'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    10% { 
        content: 'APPARELS'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    15% { 
        content: 'ACCESSORIES'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    20% { 
        content:  'រូបចម្លាក់';
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    25% { 
        content: 'ខោអាវតុបតែង'; 
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    30% { 
        content: 'សម្លៀកបំពាក់'; 
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    35% { 
        content: 'គ្រឿងតុបតែង'; 
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    40% { 
        content: 'フィギュア'; 
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    45% { 
        content: 'コスプレ'; 
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    50% { 
        content: '衣服'; 
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    55% { 
        content: '付属品'; 
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    60% { 
        content:  '인물';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    65% { 
        content: '코스프레'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    70% { 
        content: '의복'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    75% { 
        content: '부속품'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    80% { 
        content:  '人物';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 7rem;
    }
    85% { 
        content: '服装';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 7rem;
    }
    90% { 
        content: '服饰';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 7rem;
    }
    95% { 
        content: '配件';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 7rem;
    }
    100% { 
        content:  'FIGURES';
        font-family: 'Passion One';
    }
}
@keyframes toprowChangev2 {
    0% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    5% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    10% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    15% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    20% { 
        content:  'ឆាប់ទិញ'; 
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    25% { 
        content:  'ឆាប់ទិញ'; 
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    30% { 
        content:  'ឆាប់ទិញ'; 
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    35% { 
        content:  'ឆាប់ទិញ'; 
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    40% { 
        content: 'あなたの';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    45% { 
        content: 'あなたの';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    50% { 
        content: 'あなたの';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    55% { 
        content: 'あなたの';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    60% { 
        content:  '당신의';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    65% { 
        content:  '당신의';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    70% { 
        content:  '당신의';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    75% { 
        content:  '당신의';
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    80% { 
        content:  '立即选择';
        font-family: 'ZCOOL KuaiLe', cursive;  
        font-size: 7rem;
    }
    85% { 
        content:  '立即选择';
        font-family: 'ZCOOL KuaiLe', cursive;  
        font-size: 7rem;
    }
    90% { 
        content:  '立即选择';
        font-family: 'ZCOOL KuaiLe', cursive;  
        font-size: 7rem;
    }
    95% { 
        content:  '立即选择';
        font-family: 'ZCOOL KuaiLe', cursive;  
        font-size: 7rem;
    }
    100% { 
        content:  'GRAB YOUR'; 
        font-family: 'Passion One';
    }
}
@keyframes botrowChangev2 {
    0% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    5% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    10% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    15% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
        font-size: 7rem;
    }
    20% { 
        content:  'មក!';
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    25% { 
        content:  'មក!';
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    30% { 
        content:  'មក!';
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    35% { 
        content:  'មក!';
        font-family: 'Koulen', cursive;
        font-size: 6rem;
    }
    40% { 
        content: '今!';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    45% { 
        content: '今!';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    50% { 
        content: '今!';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    55% { 
        content: '今!';
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 6.5rem;
    }
    60% { 
        content:  '오늘!'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    65% { 
        content:  '오늘!'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    70% { 
        content:  '오늘!'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    75% { 
        content:  '오늘!'; 
        font-family: 'Do Hyeon', sans-serif;
        font-size: 7rem;
    }
    80% { 
        content:  '的特点';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 7rem;
    }
    85% { 
        content:  '的特点';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 7rem;
    }
    90% { 
        content:  '的特点';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 7rem;
    }
    95% { 
        content:  '的特点';
        font-family: 'ZCOOL KuaiLe', cursive; 
        font-size: 7rem;
    }
    100% { 
        content:  'NOW!'; 
        font-family: 'Passion One';
    }
}