body {
    background-color: rgb(20, 20, 20);
}
.main-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    text-transform: uppercase;
    font-size: 1.3rem;
    z-index: 1;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}
h1 {
    font-weight: normal;
    font-family: 'Passion One';
    color: white;
    font-size: 10rem;
    animation-name: slideInDown;
    animation-delay: 0.9s;
    animation-duration: 1s;
    line-height: 1;
    z-index: 1;
}
.category {
    color: #ff0080;
    font-family: 'Passion One';
    font-size: 10rem;
    display: inline-block;
    animation-name: slideInUp;
    animation-delay: 0.9s;
    animation-duration: 1s;
    margin: 0 0.5rem;
    cursor: url('../images/white_cursor.png'), auto;
}
.category::before {
    content: 'Figures';
    animation: textChange infinite 2s;
}
#space {
    position: absolute;
    width: 700px;
    left: 50%;
    bottom: 0%;
    z-index: 0;
}
@keyframes textChange {
    0% { content:  'FIGURES'; }
    33% { content: 'COSPLAYS'; }
    66% { content: 'ANIMES'; }
    100% { content: 'FIGURES'; }
}
@keyframes scrollingLoopv1 {
    0% { transform: translateY(0);}
    100% { transform: translateY(-55rem);}
}
@keyframes scrollingLoopv2 {
    0% { transform: translateY(0);}
    100% { transform: translateY(-37rem);}
}
.rotate {
    margin-right: 5rem;
    color: rgb(255, 0, 128);
    font-family: 'Passion One';
    font-size: 9rem;
    writing-mode: vertical-rl;
    animation: scrollingLoopv1 infinite 1.5s;
    animation-timing-function: linear;
    white-space:nowrap;
    overflow: visible;
    max-height: 100vh;
    cursor: url('../images/white_cursor.png'), auto;
}
.rotate span {
    cursor: url('../images/pink_cursor.png'), auto;
}

@media only screen and (max-width: 599.98px) {
        
}

@media (min-width: 600px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 1299.98px) {
    h1, .category  {
        font-size: 7rem;
    } 
    .rotate {
        font-size: 6rem;
        animation: scrollingLoopv2 infinite 1.5s;
        animation-timing-function: linear;
    }
    #space {
        width: 450px;
    }
}

@media (min-width: 1300px) and (max-width: 1599.98px) {
    h1, .category  {
        font-size: 8rem;
    } 
    .rotate {
        font-size: 6rem;
        animation: scrollingLoopv2 infinite 1.5s;
        animation-timing-function: linear;
    }
    #space {
        width: 550px;
    }
}

@media only screen and (min-width: 1600px) {
    
}  