@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Raleway&display=swap');
.main-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    text-transform: uppercase;
    font-size: 1.3rem;
    z-index: 1;
}
.bg {
    position: absolute;
    margin-left: -12rem;
    margin-top: -5rem;
    width: 120vw;
    height: 120vh;
    filter: brightness(0.9);
}
main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

body {
    overflow: hidden;
}
h1 {
    font-weight: normal;
    font-family: 'Bebas Neue';
    color: white;
    font-size: 13rem;
    animation-name: slideInDown;
    animation-delay: 1s;
    animation-duration: 1s;
    line-height: 1;
}
h2 {
    font-weight: normal;
    font-family: 'Bebas Neue';
    color: white;
    font-size: 6em;
    display: inline;
    animation-name: slideInUp;
    animation-delay: 1s;
    animation-duration: 1s;
}
h1 > span {
    font-weight: normal;
    font-family: 'Bebas Neue';
    font-size: 3em;
}
nav {
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}
.active {
    color: rgb(255, 0, 128);
}
ul {
    margin-bottom: 5rem;
}
a {
    color: white;
    font-size: 1.3rem;
    transition: 0.3s;
}
a:hover {
    color: rgb(255, 0, 128);
}
.welcome {
    display: flex;
}
.anime-d {
    display: inline-block;
    color: rgb(255, 0, 128);
    font-family: 'Passion One';
    font-size: 14rem;
    animation-name: slideInLeft;
    animation-delay: 1s;
    animation-duration: 1s;
}
.rotate {
    color: rgb(255, 0, 128);
    font-family: 'Passion One';
    font-size: 11rem;
    writing-mode: vertical-rl;
    animation-name: slideInRight;
    animation-delay: 1s;
    animation-duration: 1s;
}
.category {
    color: rgb(255, 0, 128);
    font-family: 'Passion One';
    font-size: 7em;
    line-height: 0.1;
    display: inline-block;
    animation-name: slideInUp;
    animation-delay: 1s;
    animation-duration: 1s;
}
.category::before {
    content: 'Figures';
    animation: textChange infinite 2s;
}
.slideInLeft {
    display: inline-block;
    animation-name: slideInLeft;
    animation-delay: 1s;
    animation-duration: 1s;
}
.slideInRight {
    display: inline-block;
    animation-name: slideInRight;
    animation-delay: 1s;
    animation-duration: 1s;
}
@keyframes textChange {
    0% { content:  'FIGURES'; }
    33% { content: 'cosplays'; }
    66% { content: 'Mangas'; }
    100% { content: 'FIGURES'; }
}