nav {
    max-height: 100vh;
    font-family: 'Raleway';
    display: flex;
    margin-left: 5rem;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}
nav .active {
    color: rgb(255, 0, 128);
}
nav ul {
    margin-bottom: 5rem;
}
nav a {
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
    text-transform: uppercase;
}
nav a:hover {
    color: rgb(255, 0, 128);
}
@media (-webkit-min-device-pixel-ratio: 1.25) {
    
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    nav a {
        font-size: 0.9rem;
    }
}