nav {
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}
.active {
    color: rgb(255, 0, 128);
}
ul {
    margin-bottom: 5rem;
}
a {
    color: white;
    font-size: 1.3rem;
    transition: 0.3s;
}
a:hover {
    color: rgb(255, 0, 128);
}